html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 348px;
    height: 440px;
    background-color: gainsboro;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 50px;
    background-color: #282828;
}

h1, h2 {
    margin: 0;
    font-weight: lighter;
}

h1 {
    color: #9fd72a;
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 18px;
    display: inline;
    margin-left: 10px;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > span {
    margin-right: 10px;
    font-size: 16px;
    color: #71991e;
    text-decoration: underline;
}

.players {
    width: 100%;
    height: 280px;
    overflow-y: auto;
}

.actions {
    width: 100%;
    height: 60px;
    background-color: #282828;
    color: #9fd72a;
}

.player {
    background-color: whitesmoke;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1px;
}

.info {
    font-size: 14px;
    margin-left: -120px;
}

.info > span {
    display: block;
}

.tick, .alarm {
    width: 60px;
}

.tick {
    margin-left: 20px;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.action > div {
    font-size: 14px;
}

#select-all-label, .actions > div, input {
    cursor: pointer;
}

.empty {
    color: #71991e;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
}
